.homeTitle {
    font-size: 4em;
    color: rgb(50,50,50);
    display: inline-block;
    margin: 0;
    margin-right: 1rem;
}
.homeTitleCenter {
  color: var(--accent);
}

.homeSubtitle {
    font-size: 1.75em;
    margin: 0px 0px 25px 100px;
    color: rgb(89, 89, 89);
    font-weight: bold;
}
.homeTitleContainer {
  margin: 25px 0px 20px 100px;
  font-weight: bold;
}

.homeImage {
    width: 100%;
    position: fixed;
    bottom: 0;

    left: 0;
    z-index: -1;
}

.info {
    font-size: 2em;
    text-align: center;
}

.create {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-bottom: 50px;
    display: inline-block;
    padding: 15px 20px;
    color: rgb(50,50,50);
    border-radius: 20px;
    transition: 1s;
    background-color: var(--accent);
    color: white;
}
.about {
    text-align: center;
}

.app {
    border: 1px solid #e3e3e3; /* Border color */
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ededed;
    color: rgb(50,50,50);
    transition: box-shadow 0.3s ease,transform 0.3s ease-in-out,;
}
.app:hover {
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

.appTitle {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 10px;
}

.bitcoin {
    width: 250px;
    display: block;
    margin: auto;
}
.appButton {
    color: white;
    border-radius: 25px;
    background-color: var(--accent);
    border: none;
    padding: 12px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    width:fit-content;
}
.appDescription {
    font-size: 1.2em;
    margin: 0;
}
.app1 {
    width: 50%;
}
.roadmap {
    color: rgb(50,50,50);
    display: inline-block;;
    padding: 50px 100px;
    margin: 0;
    width: 50%;
  }
  
  .timeline {
    position: relative;
    height: 100%;
    display: inline-block;
    width: 100%;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: var(--accent);
    min-height: 100%;
    top: 0;
    bottom: 0;
    left: 90%;
    margin-left: calc(-2px - 5%);
  }
  .timelineItem::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: var(--accent);
    border-radius: 50%;
    top: 0;
    left: 85%;
    transform: translate(-50%, -50%);
  }
  
  .timelineItem {
    position: relative;
    margin-bottom: 50px;
    color: rgb(50,50,50);
    transition: transform 0.3s ease-in-out;
  }
  .timelineItem:hover {
    transform: translateY(-3px);
  }

  
  .timelineContent {
    position: relative;
    width: 85%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  
  .timelineContent h2 {
    font-size: 18px;
    margin-top: 0;
  }
  .roadmapHeading {
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 0;
  }
  @media (max-width: 800px) {
  .timeline {
    display: block;
    width: 100%;
  }
  }
  .topSection {
    display: inline-block;
    margin: 100px 0;
    width: 50%;
  }
  
@media screen and (max-width: 660px) {
    .app1 {
        width: 100%;
    }
    .homeSubtitle, .create, .homeTitleContainer {
        margin-left: 25px;
        margin-right: 25px;
    }
    .create {
        margin-bottom: 50px;
    }
    .topSection {
        width: 100%;
    }
    .bitcoin {
        display: none;
    }
}
.appHeader {
  font-size: 2.5em;
  margin-left: 100px;
  font-weight: bold;
}
.polygonLogo {
  position: relative;
}
.polygonImage {
  left: 25%;
  position: absolute;
  transform: translateY(-50%);
}
.polygonImage {
  animation: move 3s ease-in-out infinite;
}

@keyframes move {
  0%, 100% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(calc(-50% + 25px)) translateX(25px);
  }
}