.container {
    top: 48.333px;
    position: relative;
    width: 100%;
  }
  
  .navbar {
    position: fixed;
    top: 48.333px;
    left: 0;
    height: calc(100% - 48.333px);
    background-color: hsl(0, 0%, 90%);
    max-width: 200px;
    width: 100%;
    z-index: 2;
    transition: width 0.3s ease-in-out;
    transform: translateX(-200px);
    transition: transform 0.4s ease-in-out;
    overflow-y: auto;
  }
  
  .open {
    transform: translateX(0px);
  }
  
  .content {
    transition: margin-left 0.3s ease-in-out;
    margin-left: 0;
  }
  
  .contentOpen {
    margin-left: 200px; /* Adjust the margin when the navbar is open */
  }
  .page {
    margin-left: 200px;
    margin-top: 48.333px;
    transition: margin-left 0.5s ease;
  }
  .noNavbar {
    margin-left: 0px;
    margin-top: 48.333px;
    transition: margin-left 0.5s ease;
  }
.navbarText {
  display: inline-block;
  color: rgb(50, 50, 50);
  font-weight: bold;
  margin: 0;
  padding: 10px 0 10px 20px;
  background-color: rgb(224, 224, 224);
  width: calc(100% - 20px);
}
.navbarSectionTitle {
  display: inline-block;
  font-weight: bold;
  color: rgb(50, 50, 50);
  margin-left: 10px;
}
.sectionHeader {
  background-color: rgb(232, 232, 232);
}
.dropdownIcon {
  vertical-align: middle;
  margin-left: 5px;
  filter: invert(15%) sepia(0%) saturate(1%) hue-rotate(40deg) brightness(30%) contrast(90%);
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}
.flipped {
  transform: rotate(180deg);
}
.navbarLinks {
  overflow: hidden;
}
.activeLink {
  color: var(--accent);
  border-left: 2px var(--accent) solid;
}
.sectionIcon {
  vertical-align: middle;
  margin-left: 10px;
  filter: invert(15%) sepia(0%) saturate(1%) hue-rotate(40deg) brightness(30%) contrast(90%);
}