.blog {
    padding: 50px;
}

.blogHeader {
    font-size: 2em;
    font-weight: bold;
    color: rgb(50, 50, 50);
}

.arcticle {
    background-color: rgb(250, 250, 250);
    padding: 25px 50px;
    border-radius: 20px;
    color: rgb(50, 50, 50);
    transition: box-shadow 0.3s ease, transform 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 25px;
}

.arcticle:hover {
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
}

.title {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}
.arcticleDetails {
    font-size: 1em;
    color: rgb(150, 150, 150);
}
.arcticleDesc {
    font-size: 1.3em;
}